<div *ngIf="transazione" class="card" style="width: 18rem">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>{{ transazione.business }}</strong>
    </li>
    <li class="list-group-item">{{ transazione.name }}</li>
    <li class="list-group-item">Account: {{ transazione.account }}</li>
    <li class="list-group-item">Date: {{ transazione.date }}</li>
    <li class="list-group-item">Type: {{ transazione.type }}</li>
    <li class="list-group-item">Amount: {{ transazione.amount }}</li>
  </ul>
</div>
